@model IEnumerable<BDAS2_Flowers.Models.Domain.EventType>

<ul class="dropdown-menu" aria-labelledby="eventsDropdown">
    @foreach (var e in Model)
    {
      <li>
        <a class="dropdown-item"
           asp-controller="Events"
           asp-action="Type"
           asp-route-id="@e.EventTypeId">
                @e.EventName
        </a>
      </li>
    }
</ul>
