@model IEnumerable<BDAS2_Flowers.Models.ViewModels.EventTypeVm>
@{
    ViewData["Title"] = "Events";
}

<section class="hero mb-4">
    ...
</section>

<div class="steps">
    ...
</div>

<div class="row g-4">
    @foreach (var e in Model)
    {
            <div class="col-12 col-sm-6 col-lg-3">
            @await Html.PartialAsync("_EventCard", e)
            </div>
    }
</div>
